.login-container, .register-container {
    margin: 5rem auto;
    width: 100%;
    max-width: 450px;
    background-color: #15212D;
    padding: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 4px 20px rgba(6, 182, 212, 0.1);
    color: white;
    
}

.login-form, .register-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1rem;
    text-align: left;
}

.input-field {
    width: 100%;
    padding: 0.5rem;
    background-color: #171E28;
    border: none;
    border-radius: 0.375rem;
    color: white;
}

.input-field::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.submit-btn {
    width: 100%;
    padding: 0.5rem;
    background-color: #105C6E;
    color: white;
    border-radius: 9999px;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #06b6d4;
}
